venv
staticfiles
experiment/recordings/data/db_pre_run.sqlite3
experiment/frisbee_db.db
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
*.otreezip
**/node_modules/
env/
experiment/_static/video1.mp4

experiment/recordings/data/*
experiment/recordings/db_merger.log
experiment/recordings/merged_database.sqlite3

*.sqlite3
*.db